<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pirate Times</title>
  </head>

  <body>
    <h1>Pirate Name: <%=@pirate.name%></h1>
    <h1>Pirate Weight: <%=@pirate.weight%></h1>
    <h1>Pirate Height: <%=@pirate.height%></h1>

    <%@ships.each do |ship|%>
      <h2>Pirate Ship Name: <%=ship.name%></h2>
      <h2>Pirate Ship Type: <%=ship.type%></h2>
      <h2>Pirate Ship Booty: <%=ship.booty%></h2>
    <%end%>
  </body>
</html>
